#maincontainer {
  display: flex;
}

main {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 80%;
  margin-left: 5px;
  margin-right: 5px;
}
aside {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 300px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 768px) {
  #maincontainer {
    flex-direction: column;
  }
  aside {
    flex-basis: auto;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  }
  h1 {
    font-size: 130%;
  }
}
@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  h1 {
    display: none; 
  }
}
