.maincontainer2 {
  display: grid;
  grid-template-areas:
    "kopf kopf kopf"
    "navi navi navi"
    "haupt haupt seite"
    "fuss fuss fuss";
}
header {
  grid-area: kopf;
}
aside {
  grid-area: seite;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}
nav {
  grid-area: navi;
}
footer {
  grid-area: fuss;
}
main {
  grid-area: haupt;
}
@media screen and (max-width: 768px) {
  .maincontainer2 {
    grid-template-areas:
      "kopf"
      "navi"
      "haupt"
      "seite"
      "fuss";
    grid-template-columns: auto;
  }
  h1 {
    font-size: 130%;
  }
}

@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  h1 {
    display: none; 
  }
}
